<!--<div class="container">
    <div class="row">-->
<div class="col-md-6">
    <div class="well">
        <fieldset>
            <legend>Repos</legend>
            <img alt="Loading Repo details..." src="assets/img/progress.gif" ng-if="repoUserCtrl.repoLoadPending"></img>
            <div ng-if="!repoUserCtrl.repoLoadPending">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-responsive" ng-src="{{repoUserCtrl.user.avatar_url}}" title="{{repoUserCtrl.user.name}}" />
                        <img class="img-responsive" 
                        ng-src="assets/img/error.png" title="Error in request" 
                        ng-if="repoUserCtrl.error" />
                    </div>
                    <div class="col-md-6">
                        <h3>{{repoUserCtrl.user.name}}</h3>
                        <p>{{repoUserCtrl.error}}</p>
                    </div>
                </div>
                <!--<div class="row">
                <div class="col-md-12">
                    <span>Sort By :</span>
                    <select ng-model="repoUserCtrl.repoSortOrder">
                        <option value="+name">Name</option>
                        <option value="-stargazers_count">Stars</option>
                        <option value="+language">Language</option>
                    </select>
                </div>
            </div>-->
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Stars</th>
                                <th>Language</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="repo in repoUserCtrl.repos | filter:{'language':'!!'} | orderBy:repoUserCtrl.repoSortOrder" >
                                <td>
                                    <a href="#/repoexplorer/user/{{repoUserCtrl.user.login}}/repo/{{repo.name}}">
          {{repo.name}}
          </a>
                                </td>
                                <td>{{repo.stargazers_count | number}}</td>
                                <td>{{repo.language}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="col-md-6" ui-view></div>
<!--</div>
</div>-->
