<div class="container">
    <div class="row">
        <fieldset>
            <legend>Git Repo Explorer</legend>
            <div class="col-md-3">
                <div class="well">
                    <fieldset>
                        <legend>User Search</legend>
                        <div class="form-group">
                            <input type="text" required="true" class="form-control" id="username" placeholder="User name to find" ng-model="gitRepoExplorerCtrl.username">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="gitRepoExplorerCtrl.search(gitRepoExplorerCtrl.username)" ng-disabled="!gitRepoExplorerCtrl.username">Search</button>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-9" ui-view></div>
        </fieldset>
    </div>
</div>
